
/OnlyUP/[Ll]ibrary/
/OnlyUP/[Tt]emp/
/OnlyUP/[Oo]bj/
/OnlyUP/[Bb]uild/
/OnlyUP/[Bb]uilds/
/OnlyUP/[Ll]ogs/
/OnlyUP/[Mm]emoryCaptures/
/OnlyUP/[Vv]env/

!/[Aa]ssets/**/*.meta

/OnlyUP/[Aa]ssets/AssetStoreTools*

[Aa]ssets/Plugins/Editor/JetBrains*

.vs/

.gradle/

ExportedObj/
.consulo/
*.csproj
*.unityproj
*.sln
*.suo
*.tmp
*.user
*.userprefs
*.pidb
*.booproj
*.svd
*.pdb
*.mdb
*.opendb
*.VC.db

*.pidb.meta
*.pdb.meta
*.mdb.meta

sysinfo.txt

*.apk
*.unitypackage

crashlytics-build.properties
